<h1 class="w3ls">Official Login Form</h1>
<div class="content-w3ls">
    <div class="content-agile1">
        
    </div>
    <div class="content-agile2">

        <form action="/handle/login" method="POST">

            <div class="form-control w3layouts">
                <h1>Welcome</h1>
            </div>             


            <div class="form-control w3layouts">
                <p>{{error}}</p>
            </div>          
        
            <div class="form-control w3layouts">
                <input type="text" id="username" name="username" placeholder="User Name"
                    title="Please enter a valid email" required="" autocomplete="off">
            </div>

            <div class="form-control agileinfo">
                <input type="password" class="lock" name="password" placeholder="Password" id="password1" required="" >
            </div>


            <input type="submit" class="register" value="Register">



        </form>
        
        <div class="back">
            <a href="/handle/register" title="login"><i class="fa fa-arrow-circle-right"></i></i></a>
        </div>

        <ul class="social-agileinfo wthree2">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>